experimentos/steps.md
experimentos/creds.md
experimentos/entrada
experimentos/salida
experimentos/bd
experimentos/config_local.json
miro
reestructura/config_local.json

perso
reestructura/notebooks/config_local.json
